# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
*.tfstate.backup

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files
*.tfvars
*.tfvars.json

# Exception for example files
!terraform.tfvars.example

# Environment variables
.env
.env.*
!.env.example

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI configuration files
.terraformrc
terraform.rc

# Lock files
.terraform.lock.hcl

# Node dependencies
**/node_modules/
**/package-lock.json

# OCI specific
.oci/
**/Oracle_Inventory/

# Secrets and Keys
*.pem
*.pub
*.key
*.crt
serverkey

# Misc
terraform.txt
.DS_Store
Thumbs.db

